.loading-container {
	min-height: 90vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.photo-container {
	width: 90%;
	max-width: 1440px;
	margin: 2rem auto;

	figcaption {
		width: 90%;
		margin: 2rem auto;

		.user-details {
			display: flex;
			align-items: center;

			img {
				margin-right: 1rem;
				max-width: 35px;
			}
		}

		.stats {
			margin-top: 1.25rem;
			color: var(--color-gray-dark);
		}
	}
}
