.header-wrapper {
	position: relative;

	.header-container {
		z-index: 100;
		width: 100%;

		position: sticky;
		top: 0;
		left: 0;

		background-color: var(--color-white);
		border-bottom: 1px solid var(--color-gray-light);

		.primary-navigation-container {
			width: 90%;
			margin: auto;
			padding: 1rem 0;

			display: flex;
			align-items: center;
			column-gap: 1rem;

			.logo-container {
				max-width: 45px;
				display: flex;
				align-items: center;

				.logo {
					max-width: 45px;
				}
			}

			.primary-navigation-form {
				width: 80%;
				max-width: 1240px;
				color: var(--color-gray);

				position: relative;

				input[type='text'] {
					padding: 0.8rem 0.25rem 0.8rem 3rem;
					font-size: 0.8rem;

					border-radius: 1.5rem;
					border: 1px solid var(--color-gray);
					background-color: var(--color-gray-light);
					box-shadow: 1px 1px 1px var(--color-gray-light);
				}

				button[type='submit'] {
					padding: 0.25rem 0.5rem;

					background-color: transparent;
					position: absolute;
					top: 50%;
					left: 1.5%;

					transform: translateY(-48%);
					cursor: pointer;

					&.material-symbols-outlined {
						color: var(--color-gray-dark);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.header-wrapper {
		.header-container {
			.primary-navigation-container {
				.primary-navigation-form {
					input[type='text'] {
						padding-left: 4rem;
					}
				}
			}
		}
	}
}
