.photos-layout-container {
	margin-top: 6rem;
	columns: 1;
}

@media screen and (min-width: 768px) {
	.photos-layout-container {
		width: 90%;
		margin-inline: auto;
		columns: 2;
	}
}

@media screen and (min-width: 1024px) {
	.photos-layout-container {
		columns: 3;
	}
}
